<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2 class="title">ABOUT HOMEFOOD</h2>
            <p>HomeFood is a platform that allows customers to buy and homechefs to sell their homemade food with ease.</p>
            <p>HomeFood also provides a secure transaction methode between buyers and sellers with its authentication code to prevent and avoid fraud and disputes.</p>
        </div>

    </div>

    <hr>
    
    <footer>
        <p>&copy; 2017 HomeFood Team</p>
    </footer>
</div>
<!-- /container -->