     <!--Footer-->
    <footer class="page-footer center-on-small-only nopadding">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-lg-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT HOMEFOOD</h5>
                    <p>HomeFood is a platform that allows customers to buy and homechefs to sell their homemade food
                       with ease.</p>
                    <p>HomeFood also provides a secure transaction methode between buyers and sellers with its authentication code to prevent and avoid fraud and disputes.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title"><strong>First column</strong></h5>
                    <ul>
                       <li><h6><a href="#!">Link 1</a></h6></li>
                       <li><h6><a href="#!">Link 2</a></h6></li>
                       <li><h6><a href="#!">Link 3</a></h6></li>
                       <li><h6><a href="#!">Link 4</a></h6></li>
                   </ul>
               </div>
               <!--/.Second column-->

               <hr class="hidden-md-up">

               <!--Third column-->
               <div class="col-lg-2 col-md-4">
                <h5 class="title"><strong>Second column</strong></h5>
                <ul>
                    <li><h6><a href="#!">Link 1</a></h6></li>
                    <li><h6><a href="#!">Link 2</a></h6></li>
                    <li><h6><a href="#!">Link 3</a></h6></li>
                    <li><h6><a href="#!">Link 4</a></h6></li>
               </ul>
           </div>
           <!--/.Third column-->

           <hr class="hidden-md-up">

           <!--Fourth column-->
           <div class="col-lg-2 col-md-4">
            <h5 class="title"><strong>Third column</strong></h5>
            <ul>
                <li><h6><a href="#!">Link 1</a></h6></li>
                <li><h6><a href="#!">Link 2</a></h6></li>
                <li><h6><a href="#!">Link 3</a></h6></li>
                <li><h6><a href="#!">Link 4</a></h6></li>
           </ul>
       </div>
       <!--/.Fourth column-->

   </div>
</div>
<!--/.Footer Links-->

<!--Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="http://www.homefood.com"> HomeFood.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
