#main-container {
    background: url('http://mdbootstrap.com/img/Photos/Horizontal/Food/full%20page/5.jpg') no-repeat;
    background-size: cover;
    height: 70vh;
}

.container {
    color: black;
}

.readableBackground {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.usernameColor {
    color: #0275d8;
}

p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}