#main-container {
    background: url('../../../assets/img/HomeFoodLandingPage.jpg') no-repeat;
    background-size: cover;
    height: 70vh;
}

.container {
    color: black;
}

.readableBackground {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
}

.usernameColor {
    color: #0275d8;
}