<!--Mask-->
<div class="view hm-black-light">
  <div class="full-bg-img flex-center pattern-4" id="overlay">
    <ul>
      <li>
        <h1 class="h1-responsive wow fadeInUp title"><strong>Hey, wanna eat some good quality food?</strong></h1>
      </li>
      <li>
        <div class="row wow fadeIn" data-wow-delay="0.4s">
          <div class="col-md-12">
            <div class="text-center">
              <button class="btn btn-lg btn-primary" routerLink="/login">Login</button>
              <button class="btn btn-lg btn-info" routerLink="/register">Register</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!--/.Mask-->
