<div class="container" style="padding:20px;">
    <div class="text-center">
        <h4>My offers</h4>
    </div>
    <hr>

    <div class="list-group">
        <div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="-1000000" [infiniteScrollThrottle]="300" (scrolled)="getOffers()">
            <div *ngFor="let offer of offers; let i = index" [attr.data-index]="i" class="list-group-item">
                <a href="/offerdetails/{{offer._id}}" class="list-group-item-action flex-column align-items-start offerLink">
                    <div class="d-flex w-100 justify-content-between row">
                        <div class="col col-md-7">

                            <!--<div class="wrapper">
                                <div id="left">
                                    <h5 class="mb-1">{{ offer.title }}, <span>Price:</span> <span style="color:#4CAF50; font-size:24px;"> {{ offer.price }} € </span></h5>
                                    <span> <small> Published: {{ offer.dateCreated | date:'yMMMd' }} </small> </span>
                                </div>
                                <div *ngIf="offer.title == 'Ordered'" id="right" class="mb-1">
                                    <h4>ORDERED</h4>
                                </div>
                            </div>-->

                            <div *ngIf="offer.status=='Ordered'; else elseBlock">
                                <div class="wrapper">
                                    <div id="left">
                                        <h5 class="mb-1">{{ offer.title }}, <span>Price:</span> <span style="color:#4CAF50; font-size:24px;"> {{ offer.price }} € </span></h5>
                                        <span> <small> Published: {{ offer.dateCreated | date:'yMMMd' }} </small> </span>
                                    </div>
                                    <div id="right">
                                        <h3><span class="badge badge-success"> ORDERED </span></h3>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <h5 class="mb-1">{{ offer.title }}, <span>Price:</span> <span style="color:#4CAF50; font-size:24px;"> {{ offer.price }} € </span></h5>
                                <span> <small> Published: {{ offer.dateCreated | date:'yMMMd' }} </small> </span>
                            </ng-template>

                            <br>
                            <br>

                            <div class="">
                                <p class="mb-1">
                                    <strong> Ready from: </strong> {{ offer.handoutDatetimeStart | date:'yMMMd' }} <strong> until  </strong> {{ offer.handoutDatetimeEnd | date:'yMMMd' }}
                                </p>
                            </div>

                            <br>

                            <div class="">
                                <p class="mb-1"> <strong> Description: </strong> <br> {{ offer.description }}</p>
                                <small><strong> Ingredients: </strong> <br> {{ offer.ingredients }}</small>
                            </div>

                        </div>
                        <div class="col col-md-5">
                            <img style="max-height:200px;" class="pull-right" id="{{offer._id}}" src="{{offer.imgUrl}}" alt="Food offer image">
                            <!--<img style="max-height:200px;" id="offer._id" src="{{offer. this.displayImageUrl}}" alt="Food offer image">-->
                        </div>
                        <br>
                    </div>
                </a>
                <div class="actionButtons">
                    <button (click)="this.deleteOffer(offer._id, i)" class="btn btn-danger pointer">Delete/Cancel</button>
                    <button (click)="this.redirectToConfirmation(offer._id)" class="btn btn-info pointer" *ngIf="offer.status=='Ordered'"> Confirm order </button>

                    <!--<button (click)="this.editOffer(offer._id)" style="display: inline;float: none;" class="btn btn-info pointer">Edit</button>-->
                </div>
            </div>

        </div>

    </div>
</div>