<div id="createOfferForm" class="container flex-center">
    <form class="form-horizontal" enctype="multipart/form-data" #createofferForm="ngForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>New meal offer</legend>
            <hr>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Title/Name</label>
                <div class="col-lg-10">
                    <input type="text" name="inputTitle" [(ngModel)]="offer.title" class="form-control" id="inputTitle" placeholder="Title/Name" required minlength="4" maxlength="24">

                    <div *ngIf="formErrors.inputTitle" class="alert alert-danger">{{formErrors.inputTitle}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Price</label>
                <div class="col-lg-10">
                    <input type="text" name="inputPrice" [(ngModel)]="offer.price" class="form-control" id="inputPrice" placeholder="Price" required pattern="[0-9]*">

                  <div *ngIf="formErrors.inputPrice" class="alert alert-danger">{{formErrors.inputPrice}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Ingredients</label>
                <div class="col-lg-10">
                    <input type="text" name="inputIngredients" [(ngModel)]="offer.ingredients" class="form-control" id="inputIngredients" placeholder="Ingredients" required minlength="4" maxlength="24" pattern="[a-zA-ZäöüßÄÖÜ]*">

                  <div *ngIf="formErrors.inputIngredients" class="alert alert-danger">{{formErrors.inputIngredients}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="select" class="col-lg-2 control-label">Delivery type</label>
                <div class="col-lg-10">
                    <select class="form-control" id="select" [(ngModel)]="offer.deliveryType" name="inputDeliveryType" required>
                    <option *ngFor="let dt of deliveryTypes" [ngValue]="dt">{{dt}}</option>
                    </select>
                  <div *ngIf="formErrors.inputDeliveryType" class="alert alert-danger">{{formErrors.inputDeliveryType}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPlace" class="col-lg-4 control-label">Handout location</label>
                <div class="col-lg-10">
                    <input type="text" name="inputPlace" [(ngModel)]="offer.place" class="form-control" id="inputPlace" placeholder="Location" required minlength="4" maxlength="10" pattern="[a-zA-ZäöüßÄÖÜ]*">

                  <div *ngIf="formErrors.inputPlace" class="alert alert-danger">{{formErrors.inputPlace}}</div>
                </div>
            </div>

            <!-- date time picker -->
            <div class="form-group">
                <label for="inputDate" class="col-lg-4 control-label">Handout Start date</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="handoutDatetimeStart" [(ngModel)]="offer.handoutDatetimeStart" ngbDatepicker #d1="ngbDatepicker" (focus)="d1.open()" required>
                      <div *ngIf="formErrors.handoutDatetimeStart" class="alert alert-danger">{{formErrors.handoutDatetimeStart}}</div>
                        <div class="input-group-addon" (click)="d1.toggle()">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <!-- date time picker -->
            <div class="form-group">
                <label for="inputDate" class="col-lg-2 control-label">Handout End date</label>
                <div class="col-lg-10">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="handoutDatetimeEnd" [(ngModel)]="offer.handoutDatetimeEnd" ngbDatepicker #d2="ngbDatepicker" (focus)="d2.open()" required>
                      <div *ngIf="formErrors.handoutDatetimeEnd" class="alert alert-danger">{{formErrors.handoutDatetimeEnd}}</div>
                      <div class="input-group-addon" (click)="d2.toggle()">
                            <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>



            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea [(ngModel)]="offer.description" name="inputDescription" class="form-control" rows="3" id="textArea" required></textarea>
                  <div *ngIf="formErrors.inputDescription" class="alert alert-danger">{{formErrors.inputDescription}}</div>
                  <span class="help-block">Enter specifications and details of your offer.</span>
                </div>
            </div>

            <div class="form-group">
                <label for="options" class="col-lg-2 control-label">Preferences :</label>
                <div class="col-lg-10">
                    <div>
                        <label>
                        <input type="checkbox"
                            name="vegan"
                            [(ngModel)]="offer.vegan"/>
                            Vegan
                    </label>
                    </div>
                    <div>
                        <label>
                        <input type="checkbox"
                            name="vegetarian"
                            [(ngModel)]="offer.vegetarian"
                            />
                            Vegetarian
                    </label>
                    </div>
                    <div>
                        <label>
                        <input type="checkbox"
                            name="halal"
                            [(ngModel)]="offer.halal"
                            />
                            Halal
                    </label>
                    </div>
                    <div>
                        <label>
                        <input type="checkbox"
                            name="bio"
                            [(ngModel)]="offer.bio"
                            />
                            Bio
                    </label>
                    </div>
                </div>
            </div>

            <div class="form-control">
                <input type="file" ng2FileSelect [uploader]="uploader" multiple />

                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>

            </div>

            <h3 style="padding:5px;">Files to upload</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th width="75%">Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>

                        <!--                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>-->

                        <td nowrap>
                            <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                                <i class="fa fa-remove"></i> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="text-center">
                <button (click)="createOffer($event)" class="btn btn-success btn-lg pointer" [disabled]="!createofferForm.form.valid">Post the offer</button>
            </div>
            <div class="text-center">
                <button (click)="createRandomOffer($event)" class="btn btn-success btn-lg pointer">Random offer</button>
            </div>

        </fieldset>
    </form>

</div>



<hr>
